.border {
  box-shadow: 0px 0px 0px 0px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #E0E0E0 !important; 
}
.card {
  box-shadow: 0px 0px 0px 0px !important;
}
.main-layout {
  width: 1076px !important;
  max-width: 1076px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.overlay--active:before {
  opacity: 0.9 !important;
}

                                        /* BACKGROUND-COLORS */
.blocklight {
  background-color: #FDFDFD !important;
}
.blockblue { 
  background-color: #71BAF2 !important;
}
.textblue { 
  background-color: #1A93F0 !important;
}
.blockgrey { 
  background-color: #F4F4F4 !important;
}
.blocklightblue { 
  background-color: #D3E3F0 !important;
}
.blockgreen { 
  background-color: #DDF1CA !important;
}
.textgrey { 
  background-color: #A0A0A0 !important;
}
.textdarkgrey {
  background-color: #707070 !important;
}
                                        /* COLORS */
.blocklight-text {
  color: #FDFDFD !important;
}
.blockblue-text { 
  color: #71BAF2 !important;
}
.textblue-text { 
  color: #1A93F0 !important;
}
.blockgrey-text { 
  color: #F4F4F4 !important;
}
.blocklightblue-text { 
  color: #D3E3F0 !important;
}
.blockgreen-text { 
  color: #DDF1CA !important;
}
.textgrey-text { 
  color: #A0A0A0 !important;
}   
.textdarkgrey-text {
  color: #707070 !important;
}

                                        /* FONTS */
.thin-12 {
  font-size: 12px !important;
  font-weight: 100 !important;
}
.thin-18 {
  font-size: 18px !important;
  font-weight: 100 !important;
}
.thin-28 {
  font-size: 28px !important;
  font-weight: 100 !important;
}
.reg-14 {
  font-size: 14px !important;
  font-weight: 400 !important;
}
.reg-15 {
  font-size: 15px !important;
  font-weight: 400 !important;
}
.reg-16 {
  font-size: 16px !important;
  font-weight: 400 !important;
}
.med-14 {
  font-size: 14px !important;
  font-weight: 500 !important;
}
.med-16 {
  font-size: 16px !important;
  font-weight: 500 !important;
}
.med-17 {
  font-size: 17px !important;
  font-weight: 500 !important;
}
.med-18 {
  font-size: 18px !important;
  font-weight: 500 !important;
}
.med-20 {
  font-size: 20px !important;
  font-weight: 500 !important;
}
.med-24 {
  font-size: 24px !important;
  font-weight: 500 !important;
}
.bold-14 {
  font-size: 14px !important;
  font-weight: 700 !important;
}
.bold-22 {
  font-size: 22px !important;
  font-weight: 700 !important;
}